.TodoItem {
  background-color: #ffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 24px;
  color: #22a39f;
  border-radius: 20px;
  box-shadow: 0px 5px 50px #759796;
  font-family: "Montserrat";
  font-weight: 400;
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100%);

  line-height: 24px;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through;
  color: #497174;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: -70px;
  border-radius: 50%;
  background-color: #22a39f;
}

.Icon-check {
  position: absolute;
  left: 15px;
}
.Icon-check--active {
  color: #fff;
  background-color: #497174;
}
.Icon-check:hover {
  color: #b2b2b2;
  background-color: #497174;
}
img {
  width: 20px;
  cursor: pointer;
}
