.TodoItem {
  background-color: #eeeeee;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #b5b7bb;
  margin-top: 24px;
  color: #191717;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 400;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100%);
  line-height: 24px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.TodoItem-p--complete {
  text-decoration: line-through;
  color: #D9ADAD;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  /* margin-top: -70px; */
  border-radius: 50%;
  background-color: #7d7c7c;
}

.Icon-check {
  position: absolute;
  left: 15px;
}
.Icon-check--active {
  color: #fff;
  background-color: #e49393;
}
.Icon-check:hover {
  color: #fff;
  background-color: #e49393;
}
span {
  /* width: 30px; */
  padding: 20px;
  cursor: pointer;
  position: relative;
  right: 20px;
}
.button{
  display: flex;
  gap: 20px;
}