.TodoCounter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
 
  height: 100px;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 20px;
}
.TodoCounter span {
  margin-left: 20px;
  color: #ff4b5c;
  border-radius: 5px;
}
