.CreateTodoButton {
  background-color: #d099dd;
  box-shadow: 0px 5px 25px rgba(72, 82, 84, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  /* right: 350px; */
  font-weight: bold;
  top: 0rem;
  color: rgb(9, 8, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  width: 74px;
  text-transform: uppercase;
  transform: rotate(0);
  transition: 0.3s ease;
  z-index: 1;
}

.CreateTodoButton:hover {
  transform: 0.5s;
  background-color: #f9fbfc;
}
