.TodoSearch {
  background: #22a39f;
  border-radius: 2px;
  border: 2px solid #22a39f;

  height: 45px;
  width: calc(40% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  color: #f3efe0;
  border-radius: 20px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
  color: #f3efe0;
  font-family: "Montserrat";
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #22a39f;
}
