.TodoSearch {
  background: #ccc8aa;
  border: 2px solid #ccc8aa;
  height: 45px;
  width: 100%;
  font-size: 24px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  color: #191717;
  border-radius: 10px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.input i {
 position: relative;
 top: -35px;
left: 15px;
}
.TodoSearch::placeholder {
  color: #191717;
  font-family: "Montserrat";
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #ccc8aa;
}
